{% extends 'main_app/base.html' %}

{% block title %} Services {% endblock %}

{% block styles %}

.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
}

{% endblock %}

{% block content %}

{% include 'main_app/navbar.html' %}

{% load static %}

<div class="container my-1 p-5 text-center shadow-lg bg-white rounded">

    <h5 class="text-center border-bottom pb-4">Book Online</h5>

    <div class="row p-3 justify-content-lg-center">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <img src="{% static 'main_app/images/paytm-qr.jpeg' %}" class="card-img-top mb-4" alt="paytm-qr-scan">
                <div class="card-body border-top">
                    <h5 class="card-title">To pay via <strong><u>Paytm</u></strong>, please scan the code or send money to 9149883693.</h5>
                    <!--<p class="card-text">To pay via Paytm, please scan the code or send money to 9149883693.</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'main_app/footer.html' %}

{% endblock %}
