<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-light">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-9 mt-md-0 mt-lg-5 text-center">

                <h5 class="text-uppercase">For Queries, Please Call or Whatsapp: 9149883693</h5>
                <div class="my-4">
                    <span class="text-uppercase mr-3">Follow us on</span>
                    <a href="#" class="fa fa-facebook mr-2 rounded-circle"></a>
                    <a href="#" class="fa fa-twitter mr-2 rounded-circle"></a>
                    <a href="#" class="fa fa-instagram mr-2 rounded-circle"></a>
                    <a href="#" class="fa fa-linkedin mr-2 rounded-circle"></a>
                </div>

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Homepage</a>
                    </li>
                    <li>
                        <a href="#!">Service</a>
                    </li>
                    <li>
                        <a href="#!">Gallery</a>
                    </li>
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="#!">Contact Us</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="{% url 'index' %}"> makeupartist.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->